[[source]]
url = 'https://pypi.python.org/simple'
verify_ssl = true
name = 'pypi'

[requires]
python_version = "3.8"

[dev-packages]
flake8 = "*"
black = "==19.3b0"
coverage = "==4.5.3"
mypy = ">=0.761"

[packages]
builtpy = {git = "ssh://git@github.com:/builtinx/builtpy",ref = "v0.2.0"}
flask = "==1.1.2"
flask-restful = "==0.3.8"
elasticsearch = "==7.7.1"
